
@{
    ViewBag.Title = "CancelOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cancel Order</h2>
<p>You have cancelled your order. Please click the following link if you would like to continue shopping with us.</p>
<p>@Html.ActionLink("Continue Shopping", "ContinueShopping")</p>
